<div class="nabackground">
      <%=image_tag 'naturalhuku.png',class:'naturalhuku'%>
           <div class="nashindankekka">
              <h3>診 断 結 果<h3>
           </div>
           <div class="sutoosusumekode">
               <h4><span>おすすめコーデ</span><h4>
           </div>
       <%=image_tag 'sutohuki.png',class:'sutohuki'%>
            <div class="nataipu">
                Natural type
            </div>

            <div class="natoku">
              <h5>骨や関節がしっかりとした<br>
                  フレーム美が特徴<h5>
            </div>
  <br>
  <br>
  <br>
  <%=image_tag 'kuro.png',class:'kuro'%><br>

         <div class="naturaloomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="sutokomoji">
           <h5><span>骨感＆スタイリッシュ</span>のボディのナチュラルタイプの人は、<span>自然な風合の凹凸素材</span>がラフな肌と<br>馴染むよ◎<br><br>
           ボディラインを拾わない<span>オーバーサイズ</span>のファッションアイテムを選ぶと、関節が目立ちやすく<br>フレーム感のある骨格ナチュラル体型をカバーできるよ。
           <h5><br>
         </div>

     <%=image_tag 'kuro.png',class:'kuro'%><br>

        <div class="naturaloomoji">
           <h4>ポイント1：カジュアルテイストが大得意！<h4><br>
        </div>

        <div class="sutokomoji">
        <h5><span>あまり体のラインを出さないゆったりとした</span>シャツやフーディ、ワイドパンツや<span>裾の広がった</span><br>スカートやワンピースなどが満遍なく着こなせる！<br><br>

        近年流行している<span>ラフカジュアルなスタイル</span>は基本的にお手のもの◎<br>
        また、<span>厚め・重めの服</span>、<span>レイヤード</span>する着こなしも大得意！<br><br>
        逆に<span>体にフィットする服</span>は、骨格が目立ちたくましい印象になってしまうのでNG！<h5><br>
        </div>

        <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naturaloomoji">
            <h4>ポイント2：ユニークな柄も着こなせる<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>ナチュラルタイプの人は、<span>一見派手でユニークな柄</span>でも上手に着こなせるところもポイント。<br><br>
            細かい柄よりも<span>大きく存在感のある柄</span>が似合うよ。<br>
            ランダムに柄が散りばめられたものや、ラフでカジュアルな印象のもの、複数の色が混ざり合う<br>ような柄などが大得意◎<br><br>
            <span>小さい柄</span>が散りばめられているような服を着用してしまうと、骨格の強さに対して柄が物足り<br>なく、<span>安っぽく見えてしまうよ。</span>
            <h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naturaloomoji">
            <h4>ポイント3 :天然素材を取り入れよう<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>ナチュラルタイプが得意なのは、<span>リネンやウール</span>などの<span>天然素材！</span><br><br>

            <span>洗いざらしの質感や、シワ感、起毛感、凹凸感</span>は、ナチュラルタイプの良いところを引き立てて<br>くれるよ。<br><br>
            <span>シフォン・レース・サテン</span>など、薄くてやわらかい素材の服は、骨格が目立ち<span>たくましい印象</span>に<br>なってしまうのでNG！
            <h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naturaloomoji">
            <h4>おすすめコーデ<h4>
         </div>

         <div class="naturalhukuphoto">
         <%=image_tag 'naturalhuku1.png',class:'naturalhuku1'%>
         <%=image_tag 'naturalhuku2.png',class:'naturalhuku2'%>
         <%=image_tag 'naturalhuku3.png',class:'naturalhuku3'%>
      </div>

     <div class="naturalhukunametop">
      <div class="naturalhukuname1">
        <h3>ジップベスト<br>×<br>カーゴパンツ<h3>
      </div>
  
      <div class="naturalhukuname2">
        <h3>ざっくりニット<br>×<br>ボリュームパンツ<h3>
      </div>
  
      <div class="naturalhukuname3">
        <h3>スノーパンツ<br>×<br>シアーニット<h3>
      </div>
     </div>

     <br><br>
     <div class="naturalhukuphoto">
     <%=image_tag 'naturalhuku4.png',class:'naturalhuku4'%>
     <%=image_tag 'naturalhuku5.png',class:'naturalhuku5'%>
     <%=image_tag 'naturalhuku6.png',class:'naturalhuku6'%>
  </div>

     <div class="naturalhukunamesita">
      <div class="naturalhukuname4">
        <h3>アシンメトリープリーツスカート<br>×<br>ジャケット<h3>
      </div>
  
      <div class="naturalhukuname5">
        <h3>シャツワンピース<br>×<br>セミフレアパンツ<h3>
      </div>
  
      <div class="naturalhukuname6">
        <h3>チェック柄コート<br>×<br>コーデュロイタイトスカート<h3>
      </div>
     </div>

     <br>
     <br>
     <br>
     <br>
     <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", shapes_show_3_path %>
     </div>
     <br>
     <br>
     <div class="honerinkmatome">
          <div class="colorhakotirakara">
              <%= link_to "パーソナルカラー診断はこちら", colors_path %>
          </div>
          <br>
            <div class="honemouitido">
               <%= link_to "もう一度診断する", shapes_path %>
            </div>
     
           <div class="honehomepagehe">
               <%= link_to "ホームページに戻る", tops_top_path %>
           </div>
     </div>
     <br><br><br>
     </div>
</div>