<div class="sutobackground">
  <%=image_tag 'sutohuku.png',class:'sutohuku'%>
  <div class="sutoshindankekka">
          <h3>診 断 結 果<h3>
  </div>
  <div class="sutoosusumekode">
           <h4><span>おすすめコーデ</span><h4>
  </div>
  <%=image_tag 'sutohuki.png',class:'hukusutohuki'%>
  <div class="sutotaipu">
    Straight type
  </div>
  
  <div class="hukusutotoku">
           <h5>上重心でメリハリのある<br>体つきが特徴<h5>
  </div>
  <br>
  <br>
 <br>
  <%=image_tag 'kuro.png',class:'kuro'%><br>

         <div class="sutooomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="sutokomoji">
           <h5><span>ハリ・リッチ＆メリハリボディ</span>のストレートタイプの人は、<span>厚み＆きれいめ素材</span>が肌映り良く<br>
           馴染み、<span>シルエット</span>でスタイルアップ。
           <h5><br>
         </div>

     <%=image_tag 'kuro.png',class:'kuro'%><br>

        <div class="sutooomoji">
           <h4>ポイント1：Ｖネックはマスト！<h4><br>
        </div>

        <div class="sutokomoji">
        <h5>ストレートタイプは<span>上半身に重心</span>があり、<span>体が分厚く見えやすい</span>タイプ。<br>
        そのため<span>トップスをスッキリ</span>させて見せることが何よりも意識したいポイント！<br><br>
        Vネックやスクエアネック、シャツやカシュクールなど、<span>縦に開いたネックライン</span>で、ざっくりと<br>
        <span>胸元を開けること</span>で重心が下がり、トータルコーデの見栄えがグッと良くなるよ。<br><br>
        反対に、首が短いので<span>ハイネック</span>は避けた方がベター。<h5><br>
        </div>

        <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>ポイント2：シンプルコーデが映える<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>ストレートタイプは<span>ボディラインがはっきりしている</span>からこそ、<span>シンプルなコーディネート</span>が<br>
            バッチリ◎<br><br>
            もともと<span>ボリュームがある体</span>なので、フレンチスリーブやパフスリーブ、フレアスカートなどを<br>
            着用してしまうと、さらにボリュームが出てしまい、<span>太って見えるのでNG！</span><br><br>
            半そで、長袖、ノースリーブ、タイトスカートやストレートパンツなど<span>シンプルなデザイン</span>の<br>ものを選ぼう。<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>ポイント3 :ジャストサイズが吉<h4><br>
         </div>

          <div class="sutokomoji">
            <h5><span>体が分厚く見えやすい</span>ストレートは、シルエットが大きすぎるものを選ぶと<span>着ぶくれに悩まされて<br>しまうよ。</span><br><br>
            腰の位置が高めなため、<span>ボトムスもジャストウエスト</span>のものがおすすめ◎
            <h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>おすすめコーデ<h4>
         </div>

         <div class="sutohukuphoto">
         <%=image_tag 'sutohuku1.png',class:'sutohuku1'%>
         <%=image_tag 'sutohuku2.png',class:'sutohuku2'%>
         <%=image_tag 'sutohuku3.png',class:'sutohuku3'%>
      </div>

     <div class="sutohukunametop">
      <div class="sutohukuname1">
        <h3>ロング丈ジレ<br>×<br>センタープレスパンツ<h3>
      </div>
  
      <div class="sutohukuname2">
        <h3>テーラードコート<br>×<br>ロング丈<h3>
      </div>
  
      <div class="sutohukuname3">
        <h3>ボアショートベスト<br>×<br>ストレートパンツ<h3>
      </div>
     </div>

     <br><br>
     <div class="sutohukuphoto">
     <%=image_tag 'sutohuku4.png',class:'sutohuku4'%>
     <%=image_tag 'sutohuku5.png',class:'sutohuku5'%>
     <%=image_tag 'sutohuku6.png',class:'sutohuku6'%>
  </div>

     <div class="sutohukunamesita">
      <div class="sutohukuname4">
        <h3>ハーフジップスウェット<br>×<br>タイトスカート<h3>
      </div>
  
      <div class="sutohukuname5">
        <h3>落ち感素材ワンピース<br>×<br>ジャストウエスト<h3>
      </div>
  
      <div class="sutohukuname6">
        <h3>スキッパーニット<br>×<br>ストレートパンツ<h3>
      </div>
     </div>
     <br>
     <br>
     <br>
     <br>
     <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", shapes_show_1_path %>
     </div>
     <br>
     <br>
     <div class="honerinkmatome">
          <div class="colorhakotirakara">
              <%= link_to "パーソナルカラー診断はこちら", colors_path %>
          </div>
          <br>
            <div class="honemouitido">
               <%= link_to "もう一度診断する", shapes_path %>
            </div>
     
           <div class="honehomepagehe">
               <%= link_to "ホームページに戻る", tops_top_path %>
           </div>
     </div>
     <br><br><br>
     </div>

</div>