<div class="wavebackground">
     <%=image_tag 'wevehuku.png',class:'wavehuku'%>
            <div class="waveshindankekka">
               <h3>診 断 結 果<h3>
            </div>
            <div class="sutoosusumekode">
               <h4><span>おすすめコーデ</span><h4>
            </div>
     <%=image_tag 'sutohuki.png',class:'sutohuki'%>
            <div class="wavetaipu">
                Wave type
            </div>

  
            <div class="hukuwavetoku">
            <h5>下重心でなだらかな<br>
            ボディラインが特徴<h5>
            </div>
   <br>
   <br>
  <br>
  <%=image_tag 'kuro.png',class:'kuro'%><br>

         <div class="waveoomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="sutokomoji">
           <h5><span>ソフト＆ゆるやかな曲線ボディ</span>のウェーブタイプの人は、<span>薄い＆柔らかな素材</span>が肌と馴染むよ◎<br><br>
           <span>逆Yシルエット</span>や<span>ハイウエスト</span>でスタイルアップ。
           <h5><br>
         </div>

     <%=image_tag 'kuro.png',class:'kuro'%><br>

        <div class="waveoomoji">
           <h4>ポイント1：ピッタリしたトップスで曲線ボディを活かす<h4><br>
        </div>

        <div class="sutokomoji">
        <h5><span>首回りがスッキリ</span>としており、且つ<span>鎖骨が張って見える</span>骨格ウェーブは、上半身が細いため、<br>
        <span>曲線を活かすタイトなもの</span>がよく似合うよ。<br><br>
        デニムなら<span>スキニー、</span>ニットなら<span>リブニット</span>などがおすすめ◎<br><br>
        <span>オーバーサイズ</span>のトップスやボトムス、厚手トップスを着用してしまうと、<span>服に「着られている<br>
        感」</span>が出てしまうからNG！<br>
        また、<span>デコルテの開いた服</span>は、上半身が薄い印象のため、不得意な傾向。<h5><br>
        </div>

        <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="waveoomoji">
            <h4>ポイント2：ハイウエストアイテムはマスト！<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>骨格ウェーブは、ストレートやナチュラルと比べて、<span>下半身の重心が下がりがち</span>でウエスト<br>
            ラインも低め。<br><br>
            そのため、スタイルアップを目指すなら<span>ハイウエストアイテム</span>はマストバイ。<br><br>
            <span>ハイウエスト</span>のフレアスカートやワイドパンツを選ぶと、脚の太さを上手に隠しながらも、垢抜<br>けスタイルが目指せるよ。
            <h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="waveoomoji">
            <h4>ポイント3 :薄手でソフトな質感が得意！<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>全体的に<span>ボディラインが柔らかめ</span>な骨格ウェーブは、<span>ソフトな手触りで優しい素材</span>が大得意！<br><br>
            <span>コットンやモヘア、ベロア、スエード</span>など、得意なものが多いため、トップスやアウター選びに<br>悩むことは少なめ◎<br><br>
            また、薄手の素材であれば<span>シアーやレース、シフォン</span>などが似合うよ。
            <h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="waveoomoji">
            <h4>おすすめコーデ<h4>
         </div>

         <div class="sutohukuphoto">
         <%=image_tag 'wavehuku1.png',class:'wavehuku1'%>
         <%=image_tag 'wavehuku2.png',class:'wavehuku2'%>
         <%=image_tag 'wavehuku3.png',class:'wavehuku3'%>
      </div>

     <div class="wavehukunametop">
      <div class="wavehukuname1">
        <h3>パフスリーブトップス<br>×<br>ワイドパンツ<h3>
      </div>
  
      <div class="wavehukuname2">
        <h3>チェック柄スカート<br>×<br>シアートップス<h3>
      </div>
  
      <div class="wavehukuname3">
        <h3>チュールスカート<br>×<br>ショート丈カーディガン<h3>
      </div>
     </div>

     <br><br>
     <div class="wavehukuphoto">
     <%=image_tag 'wavehuku4.png',class:'wavehuku4'%>
     <%=image_tag 'wavehuku5.png',class:'wavehuku5'%>
     <%=image_tag 'wavehuku6.png',class:'wavehuku6'%>
  </div>

     <div class="wavehukunamesita">
      <div class="wavehukuname4">
        <h3>ストライプ柄パンツ<br>×<br>ジャケット<h3>
      </div>
  
      <div class="wavehukuname5">
        <h3>デニムパンツ<br>×<br>ショート丈ニット<h3>
      </div>
  
      <div class="wavehukuname6">
        <h3>小花柄ワンピース<br>×<br>ジャケット<h3>
      </div>
     </div>

     <br>
     <br>
     <br>
     <br>
     <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", shapes_show_2_path %>
     </div>
     <br>
     <br>
     <div class="honerinkmatome">
          <div class="colorhakotirakara">
              <%= link_to "パーソナルカラー診断はこちら", colors_path %>
          </div>
          <br>
            <div class="honemouitido">
               <%= link_to "もう一度診断する", shapes_path %>
            </div>
     
           <div class="honehomepagehe">
               <%= link_to "ホームページに戻る", tops_top_path %>
           </div>
     </div>
     <br><br><br>
     </div>
</div>