<div class="nabackground">
  <%=image_tag 'na.jpg',class:'na'%>
  <div class="nashindankekka">
          <h3>診 断 結 果<h3>
  </div>
  <div class="natokutyo">
           <h4><span>特 徴</span><h4>
  </div>
  <%=image_tag 'sutohuki.png',class:'sutohuki'%>
  <div class="nataipu">
    Natural type
  </div>
  
  <div class="natoku">
           <h5>骨や関節がしっかりとした<br>
           フレーム美が特徴<h5>
  </div>
  <br>
  <br>
 <br>
  <%=image_tag 'kuro.png',class:'kuro'%><br>

         <div class="naoomoji">
           <h4>上半身<h4><br>
         </div>

         <div class="sutokomoji">
           <h5>・首筋がしっかりと見え、鎖骨は太く骨々しい。<br>
           ・肩幅は広く、肩甲骨が大きく立体的である。<br>
           ・肉感が少なめである。<h5><br>
         </div>

     <%=image_tag 'kuro.png',class:'kuro'%><br>

        <div class="naoomoji">
           <h4>下半身<h4><br>
        </div>

        <div class="sutokomoji">
        <h5>・ヒップは平らで、太ももにハリはあまり感じない。<br>
        ・脚全体が筋張っている。くびれは出にくい。<br>
        ・すねの骨が太く、膝の皿が大きい。<h5><br>
        </div>

        <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naoomoji">
            <h4>肌、手<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>・肌はマットな質感の人が多い。<br>
            ・手の関節は大きく、血管が浮きやすい。<br>
            ・身長の割に手が大きめの傾向がある。<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naoomoji">
            <h4>太り方<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>太ると体が<span>がっしりして大きく見える</span>ことが特徴。<br>もともと太りにくい人が多く、しっかりした骨格を持っていて、<span>痩せやすい</span>といわれている。<br><br>
            ・年齢を重ねると、少しずつ代謝が落ちて、ぽっちゃり化しやすくなる。<br>
            ・特に太りやすい部位はあまりない。<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="naoomoji">
            <h4>ダイエット方法<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>重心に偏りがないため、重点的にどこかの部位を鍛えるというよりも、<span>全身まんべんなく<br>トレーニング</span>を行うことがポイント。<br>
          <br>
          <span><運動></span><br>
          有酸素運動：運動量の高いジョギング、サイクリング、縄跳び、水泳<br>
          <br>
          <span><筋トレ></span><br>
          ヒップアップ：ヒップのラインが平面的になりやすいため、行うと効果的<br>
          スクワット：背中・太もも・ふくらはぎなど、体の中でも大きな筋肉を鍛えられるもの<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%>

          <div class="naoomoji">
            <h4>骨格ナチュラルの芸能人<h4>
         </div>

         <div class="sutohairtop">
          <%=image_tag 'tubasa.png',class:'tubasa'%><br>
          <%=image_tag 'tomiai.png',class:'tomiai'%><br>
          <%=image_tag 'nana.png',class:'nana'%><br>
         </div>

         <div class="sutoname1">
         <h5>本田翼<h5>
         </div>

         <div class="sutoname2">
         <h5>冨永愛<h5>
         </div>

         <div class="sutoname3">
         <h5>小松菜奈<h5>
         </div>
        <br>
         <div class="sutohairtop">
          <%=image_tag 'an.png',class:'tanaka'%><br>
          <%=image_tag 'mitiko.png',class:'mitiko'%><br>
          <%=image_tag 'yuu.png',class:'yuu'%><br>
         </div>

         <div class="naname4">
         <h5>中村アン<h5>
         </div>

         <div class="naname5">
         <h5>吉瀬美智子<h5>
         </div>

         <div class="naname6">
         <h5>山田優<h5>
         </div>

         <br>
         <br>
         <br>
         <br>
         <div class="osusumekodehakotirakara">
            <%= link_to "おすすめコーデはこちら", shapes_cloth_3_path %>
         </div>
         <br>
         <br>
         <div class="honerinkmatome">
              <div class="colorhakotirakara">
                  <%= link_to "パーソナルカラー診断はこちら", colors_path %>
              </div>
              <br>
                <div class="honemouitido">
                   <%= link_to "もう一度診断する", shapes_path %>
                </div>
         
               <div class="honehomepagehe">
                   <%= link_to "ホームページに戻る", tops_top_path %>
               </div>
         </div>
         <br><br><br>
</div>


