<div class="sutobackground">
  <%=image_tag 'suto.jpg',class:'suto'%>
  <div class="sutoshindankekka">
          <h3>診 断 結 果<h3>
  </div>
  <div class="sutotokutyo">
           <h4><span>特 徴</span><h4>
  </div>
  <%=image_tag 'sutohuki.png',class:'sutohuki'%>
  <div class="sutotaipu">
    Straight type
  </div>
  
  <div class="sutotoku">
           <h5>上重心でメリハリのある<br>体つきが特徴<h5>
  </div>
  <br>
  <br>
 <br>
  <%=image_tag 'kuro.png',class:'kuro'%><br>

         <div class="sutooomoji">
           <h4>上半身<h4><br>
         </div>

         <div class="sutokomoji">
           <h5>・首が短めで鎖骨は目立ちにくい。<br>
           ・肩に丸みがあり、横からみると厚みを感じる。<br>
           ・胸の位置が高く鳩胸。<h5><br>
         </div>

     <%=image_tag 'kuro.png',class:'kuro'%><br>

        <div class="sutooomoji">
           <h4>下半身<h4><br>
        </div>

        <div class="sutokomoji">
        <h5>・ヒップは上向きでプリッとしている。<br>
        ・太ももは前方が張っている。<br>
        ・膝から下はスラッと細い。<h5><br>
        </div>

        <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>肌、手<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>・肌はハリ・弾力がある。<br>
            ・手のひらはふっくらしていて、筋が目立たない。<br>
            ・身長の割に手が小さめの傾向がある。<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>太り方<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>お腹周り・二の腕の外側・太ももの<span>前側</span>を中心に脂肪が付きやすいのが特徴。<br><br>
            ・お腹が前にぽっこりと出て、くびれがなくなる。<br>
            ・太ももの前側がパンパンになる。<br>
            ・太ると全体的に丸くなる。<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%><br>
         <div class="sutooomoji">
            <h4>ダイエット方法<h4><br>
         </div>

          <div class="sutokomoji">
            <h5>全体的に脂肪を落とすことができる<span>有酸素運動と軽めの筋トレ</span>を組み合わせることがポイント。<br>
          <br>
          <span><運動></span><br>
          有酸素運動：おすすめは30分程度のランニング<br>
          体幹を鍛える運動：プランク<br>
          <br>
          <span><筋トレ></span><br>
          ドローイン：お腹を凹ませる動きのこと(腹式呼吸)<br>
          スクワット：浅めのスクワット<h5><br>
          </div>

          <%=image_tag 'kuro.png',class:'kuro'%>

          <div class="sutooomoji">
            <h4>骨格ストレートの芸能人<h4>
         </div>

         <div class="sutohairtop">
          <%=image_tag 'ueto.jpg',class:'ueto'%><br>
          <%=image_tag 'hukakyon.png',class:'hukakyon'%><br>
          <%=image_tag 'kanna.png',class:'kanna'%><br>
         </div>

         <div class="sutoname1">
         <h5>上戸彩<h5>
         </div>

         <div class="sutoname2">
         <h5>深田恭子<h5>
         </div>

         <div class="sutoname3">
         <h5>橋本環奈<h5>
         </div>
        <br>
         <div class="sutohairtop">
          <%=image_tag 'koike.png',class:'koike'%><br>
          <%=image_tag 'kasumi.png',class:'kasumi'%><br>
          <%=image_tag 'kojiharu.png',class:'kojiharu'%><br>
         </div>

         <div class="sutoname4">
         <h5>小池栄子<h5>
         </div>

         <div class="sutoname5">
         <h5>有村架純<h5>
         </div>

         <div class="sutoname6">
         <h5>小嶋陽菜<h5>
         </div>

<br>
<br>
<br>
<br>
<div class="osusumekodehakotirakara">
   <%= link_to "おすすめコーデはこちら", shapes_cloth_1_path %>
</div>
<br>
<br>
<div class="honerinkmatome">
     <div class="colorhakotirakara">
         <%= link_to "パーソナルカラー診断はこちら", colors_path %>
     </div>
     <br>
       <div class="honemouitido">
          <%= link_to "もう一度診断する", shapes_path %>
       </div>

      <div class="honehomepagehe">
          <%= link_to "ホームページに戻る", tops_top_path %>
      </div>
</div>
<br><br><br>
</div>