<%=image_tag 'yellowtop.png',class:'yellowtop'%>
<div class="iebeharu">
       <div class="shindankekka">
          <h3>診 断 結 果<h3>
       </div>

       <%=image_tag 'haruhukunew.png',class:'haruhuku'%>

       <div class="haruosusumekode">
           <h4><span>おすすめコーデ</span><h4>
       </div>

       <%=image_tag 'yellowhukidashi.png',class:'yellowhukidashi'%>

       <div class="harutaipu">
           Spring type<br>
        </div>

        <div class="besu">
           <h5>イエローベース<h5>
        </div><br><br><br>

        <%=image_tag 'broline.png',class:'broline'%><br>

        <div class="haruniauhukuoomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="haruniauhukukomoji">
           <h5>イエベ春の人には、<span>フレッシュで可愛らしいテイストの服</span>がよく似合うよ！ふんわりとしたシルエ<br>ットのブラウスやスカートのほか、ボーダーやチェックなどの柄物もおすすめ。<br><br>
           赤や青などはっきりとした色の物ではなくて、<span>パステルカラーやアイボリー</span>を取り入れるのが◎<br>
           スプリング色を綺麗に発色させるためには、トップスの下には必ず<span>白の下着</span>を。
           苦手は<span>黒色</span>で、<br>コーデにはなるべく多く持ち込まないようにしよう。<br><br>
           その他、イエベ春の人は、<span>寒色系やくすみカラー</span>などが苦手な傾向。<br>
           コーディネートの主役にすると、表情を暗く見せてせっかくの元気なイメージを損ねてしまう可能<br>性があるため、控えよう。<br>
           そのようなカラーを取り入れる場合は、<span>バッグやシューズなどの小物</span>で取り入れるのがおすすめ。<h5><br>
         </div>

         <%=image_tag 'broline.png',class:'broline'%><br>

         <div class="haruniauhukuoomoji">
           <h4>おすすめコーデ<h4>
         </div>

         <div class="haruhukuphoto">
            <%=image_tag 'haruhuku1.png',class:'haruhuku1'%>
            <%=image_tag 'haruhuku2.png',class:'haruhuku2'%>
            <%=image_tag 'haruhuku3.png',class:'haruhuku3'%>
         </div>

        <div class="haruhukunametop">
         <div class="haruhukuname1">
           <h3>アイボリー<br>×<br>キャメル<h3>
         </div>
     
         <div class="haruhukuname2">
           <h3>パステルピンク<br>×<br>アイボリー<h3>
         </div>
     
         <div class="haruhukuname3">
           <h3>ライトオレンジ<br>×<br>アイスグリーン<h3>
         </div>
        </div>

        <br><br>
        <div class="haruhukuphoto">
        <%=image_tag 'haruhuku4.png',class:'haruhuku4'%>
        <%=image_tag 'haruhuku5.png',class:'haruhuku5'%>
        <%=image_tag 'haruhuku6.png',class:'haruhuku6'%>
     </div>

        <div class="haruhukunamesita">
         <div class="haruhukuname4">
           <h3>イエローグリーン<br>×<br>アイボリー<h3>
         </div>
     
         <div class="haruhukuname5">
           <h3>ホワイト<br>×<br>ブライトイエロー<h3>
         </div>
     
         <div class="haruhukuname6">
           <h3>パステルイエロー<br>×<br>パステルブルー<h3>
         </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", colors_show_1_path %>
        </div>
        <br>
        <br>
        <div class="rinkmatome">
             <div class="kokkakusindannhakotirakara">
                 <%= link_to "骨格診断はこちら", shapes_path %>
             </div>
             <br>
               <div class="mouitido">
                  <%= link_to "もう一度診断する", colors_path %>
               </div>
        
              <div class="homepagehe">
                  <%= link_to "ホームページに戻る", tops_top_path %>
              </div>
        </div>
        <br><br><br>

