<%=image_tag 'akitop.png',class:'akitop'%>


<div class="akishindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'akihukunew.png',class:'akihuku'%>

<div class="akiosusumekode">
           <h4><span>おすすめコーデ</span><h4>
</div>

<%=image_tag 'akihukidasi.png',class:'akihukidasi'%>

<div class="akitaipu">
           Autumn type<br>
</div>

<div class="akibesu">
           <h5>イエローベース<h5>
</div><br><br><br><br>
        <%=image_tag 'broline.png',class:'broline'%><br>

        <div class="akiniauhukuoomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="akiniauhukukomoji">
           <h5>イエベ秋の人は、<span>こっくりとした深みのある色</span>が得意で、秋の紅葉や、熟した果実などを連想さ<br>せる<span>落ち着いたカラー</span>をファッションコーディネートに取り入れると、上品で落ち着いた雰囲気に<br>まとまるよ。<br>
           <br>
           大人女性らしいしっとりした上品さがあるので、柄物のワンピースをブラウン系のカーディガンと<br>合わせるなど、<span>クラシカルなファッション</span>がポイント。<br><br>
           イエベ秋の似合うコーデは幅広く、特にオールブラウンなど<span>深みのあるカラーのワントーンコー<br>デ</span>は、トレンド感のある着こなしになるよ◎
           <h5><br>
         </div>

         <%=image_tag 'broline.png',class:'broline'%><br>

         <div class="akiniauhukuoomoji">
           <h4>おすすめコーデ<h4>
         </div>

         <div class="akihukuphoto">
            <%=image_tag 'akihuku1.png',class:'akihuku1'%>
            <%=image_tag 'akihuku2.png',class:'akihuku2'%>
            <%=image_tag 'akihuku3.png',class:'akihuku3'%>
         </div>

        <div class="akihukunametop">
         <div class="akihukuname1">
           <h3>ブラウン<br>×<br>グレージュ<h3>
         </div>
     
         <div class="akihukuname2">
           <h3>サックスブルー<br>×<br>サックスブルー<h3>
         </div>
     
         <div class="akihukuname3">
           <h3>ブラウン<br>×<br>ピンクレッド<h3>
         </div>
        </div>

        <br><br>
        <div class="akihukuphoto">
        <%=image_tag 'akihuku4.png',class:'akihuku4'%>
        <%=image_tag 'akihuku5.png',class:'akihuku5'%>
        <%=image_tag 'akihuku6.png',class:'akihuku6'%>
     </div>

        <div class="akihukunamesita">
         <div class="akihukuname4">
           <h3>サーモンピンク<br>×<br>モスグリーン<h3>
         </div>
     
         <div class="akihukuname5">
           <h3>ベージュ<br>×<br>ボルドー<h3>
         </div>
     
         <div class="akihukuname6">
           <h3>ブラウン<br>×<br>ゴールド<h3>
         </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", colors_show_3_path %>
        </div>
        <br>
        <br>
        <div class="rinkmatome">
             <div class="kokkakusindannhakotirakara">
                 <%= link_to "骨格診断はこちら", shapes_path %>
             </div>
             <br>
               <div class="mouitido">
                  <%= link_to "もう一度診断する", colors_path %>
               </div>
        
              <div class="homepagehe">
                  <%= link_to "ホームページに戻る", tops_top_path %>
              </div>
        </div>
        <br><br><br>

