<%=image_tag 'burunatutop.png',class:'burunatutop'%>


<div class="burushindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'natuhukunew.png',class:'natuhuku'%>

<div class="natuosusumekode">
           <h4><span>おすすめコーデ</span><h4>
</div>

<%=image_tag 'aohukidasi.png',class:'aohukidasi'%>

<div class="burutaipu">
           Summer type<br>
</div>

<div class="burubesu">
           <h5>ブルーベース<h5>
</div><br><br><br>

        <%=image_tag 'broline.png',class:'broline'%><br>

        <div class="natuniauhukuoomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="natuniauhukukomoji">
           <h5>ブルべ夏の人は、<span>爽やかで淡く柔らかい色</span>を選び、<span>ノンコントラスト</span>にするのがポイント。<br><br>
           明るさ・色・濃さ、何れにおいても強い差を付けずに、<span>穏やかな配色</span>をすることが肝心で、明るい<br>色には明るめ、暗い色には暗め、薄い色には薄め、濃い色には濃いめの色を合わせることで落ち着<br>くよ！<br><br>
           特に似合うのが<span>ブルー系の色</span>で、ブルーといっても<span>パステル系や少しくすんだトーンの色</span>が肌色に<br>マッチ！
           同じブルべでも、コントラストの強い色が似合う冬タイプの人とは真逆になるよ。<h5><br>
         </div>

         <%=image_tag 'broline.png',class:'broline'%><br>

         <div class="natuniauhukuoomoji">
           <h4>おすすめコーデ<h4>
         </div>

         <div class="natuhukuphoto">
            <%=image_tag 'natuhuku1.png',class:'natuhuku1'%>
            <%=image_tag 'natuhuku2.png',class:'natuhuku2'%>
            <%=image_tag 'natuhuku3.png',class:'natuhuku3'%>
         </div>

        <div class="natuhukunametop">
         <div class="natuhukuname1">
           <h3>くすんだブルー<br>×<br>オフホワイト<h3>
         </div>
     
         <div class="natuhukuname2">
           <h3>ラベンダー<br>×<br>ピンク<h3>
         </div>
     
         <div class="natuhukuname3">
           <h3>ダスティーブルー<br>×<br>ダスティーブルー<h3>
         </div>
        </div>

        <br><br>
        <div class="natuhukuphoto">
        <%=image_tag 'natuhuku4.png',class:'natuhuku4'%>
        <%=image_tag 'natuhuku5.png',class:'natuhuku5'%>
        <%=image_tag 'natuhuku6.png',class:'natuhuku6'%>
     </div>

        <div class="natuhukunamesita">
         <div class="natuhukuname4">
           <h3>オフホワイト<br>×<br>パープル<h3>
         </div>
     
         <div class="natuhukuname5">
           <h3>グレー<br>×<br>オフホワイト<h3>
         </div>
     
         <div class="natuhukuname6">
           <h3>インディゴブルー<br>×<br>ライトブルー<h3>
         </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", colors_show_2_path %>
        </div>
        <br>
        <br>
        <div class="rinkmatome">
             <div class="kokkakusindannhakotirakara">
                 <%= link_to "骨格診断はこちら", shapes_path %>
             </div>
             <br>
               <div class="mouitido">
                  <%= link_to "もう一度診断する", colors_path %>
               </div>
        
              <div class="homepagehe">
                  <%= link_to "ホームページに戻る", tops_top_path %>
              </div>
        </div>
        <br><br><br>


