<%=image_tag 'huyutop.png',class:'huyutop'%>


<div class="huyushindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'huyuhuku.png',class:'huyuhuku'%>

<div class="huyuosusumekode">
           <h4><span>おすすめコーデ</span><h4>
</div>

<%=image_tag 'huyuhukidasi.png',class:'huyuhukidasi'%>

<div class="huyutaipu">
           Winter type<br>
</div>

<div class="huyubesu">
           <h5>ブルーベース<h5>
</div><br><br><br><br>
        <%=image_tag 'broline.png',class:'broline'%><br>

        <div class="huyuniauhukuoomoji">
           <h4>似合う服の特徴<h4><br>
         </div>

         <div class="huyuniauhukukomoji">
           <h5>ブルベ冬の人は、<span>「純色」と言われる濁りのない色味</span>や、<span>鮮やかな色、白や黒などの無彩色</span>も<br>得意！<br><br>
           <span>モノトーンカラー</span>をベースにコーディネートを考えたり、モノトーンコーディネートに<span>アクセント<br>として鮮やかな色</span>を取り入れるだけでも、引き締まってかっこよくオシャレさんに！<br><br>
           コーデポイントは<span>強いコントラスト</span>を作ること◎<br>
           作るコントラストは主に明度(明暗)・彩度(濃淡)で、<span>色がはっきりしているもの</span>を組み合わせると<br>失敗しないよ。
           <h5><br>
         </div>

         <%=image_tag 'broline.png',class:'broline'%><br>

         <div class="huyuniauhukuoomoji">
           <h4>おすすめコーデ<h4>
         </div>

         <div class="huyuhukuphoto">
            <%=image_tag 'huyuhuku1.png',class:'huyuhuku1'%>
            <%=image_tag 'huyuhuku2.png',class:'huyuhuku2'%>
            <%=image_tag 'huyuhuku3.png',class:'huyuhuku3'%>
         </div>

        <div class="huyuhukunametop">
         <div class="huyuhukuname1">
           <h3>ブラック<br>×<br>ホワイト<h3>
         </div>
     
         <div class="huyuhukuname2">
           <h3>パープル<br>×<br>ブラック<h3>
         </div>
     
         <div class="huyuhukuname3">
           <h3>ブラック<br>×<br>グリーン<h3>
         </div>
        </div>

        <br><br>
        <div class="huyuhukuphoto">
        <%=image_tag 'huyuhuku4.png',class:'huyuhuku4'%>
        <%=image_tag 'huyuhuku5.png',class:'huyuhuku5'%>
        <%=image_tag 'huyuhuku6.png',class:'huyuhuku6'%>
     </div>

        <div class="huyuhukunamesita">
         <div class="huyuhukuname4">
           <h3>ブラック<br>×<br>ピンク<h3>
         </div>
     
         <div class="huyuhukuname5">
           <h3>ホワイト<br>×<br>ブルー<h3>
         </div>
     
         <div class="huyuhukuname6">
           <h3>ホワイトブラック<br>×<br>パープル<h3>
         </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="tokutyonimodoru">
           <%= link_to "特徴に戻る", colors_show_4_path %>
        </div>
        <br>
        <br>
        <div class="rinkmatome">
             <div class="kokkakusindannhakotirakara">
                 <%= link_to "骨格診断はこちら", shapes_path %>
             </div>
             <br>
               <div class="mouitido">
                  <%= link_to "もう一度診断する", colors_path %>
               </div>
        
              <div class="homepagehe">
                  <%= link_to "ホームページに戻る", tops_top_path %>
              </div>
        </div>
        <br><br><br>
