<%=image_tag 'akitop.png',class:'akitop'%>


<div class="akishindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'iebeaki.png',class:'iebeaki'%>

<div class="akitokutyo">
           <h4><span>特 徴</span><h4>
</div>

<%=image_tag 'akihukidasi.png',class:'akihukidasi'%>

<div class="akitaipu">
           Autumn type<br>
</div>

<div class="akibesu">
           <h5>イエローベース<h5>
</div><br><br><br><br>

  
<%=image_tag 'pinkline.png',class:'pinkline'%><br>


<div class="akioomoji">
           <h4>瞳<h4><br>
         </div>

         <div class="komoji">
           <h5>ダークブラウン系の色。<br>白目と黒目のコントラストは柔らかく、落ち着いた印象。<h5><br>
         </div>

     <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="akioomoji">
           <h4>髪<h4><br>
        </div>

        <div class="komoji">
        <h5>毛量が多く、剛毛。<br>ボリューム感があり、地毛の色はダークブラウン～黒。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="akioomoji">
           <h4>肌<h4><br>
        </div>

        <div class="komoji">
           <h5>黄みがかった暗めのオークル系でマットな質感。<br>赤みは少なく(血色少)、きれいに日焼けする人が多い。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br><br><br><br>

        <div class="akiborder">
           <div class="keikou">
	          <p><br><br><h2>似合う色の傾向<h2></p>
           </div>

           <div class="hoshi">
            <br><h3>★ベース<h3>
           </div>

          <div class="keikouen">
           <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
           <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
           </svg>
          </div>

           <div class="keikouenmoji">
            <h4>黄み<h4>
           </div>

          <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

         <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>青み<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★清濁<h3>
         </div>

           <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>濁色<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>清色<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★鮮やかさ<h3>
         </div>

         <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>低め<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>高め<h4>
         </div>

        </div>

  <%=image_tag 'tutiline.png',class:'tutiline'%>
          <div class="makecolor">
              <h2><br>メイクアップカラー<h2>
          </div><br><br><br><br>

          <div class="div-equal-box">
           <div><h5>EYE BROW<h5></div>
           <div><h5>EYE SHADOW<h5></div>
           <div><h5>EYE LINE<h5></div>
          </div>

  <div class="eye">
   <%=image_tag 'eyebrow.jpg',class:'eyebrow'%><br>
   <%=image_tag 'eyeshadow.png',class:'eyeshadow'%><br>
   <%=image_tag 'eyeline.png',class:'eyeline'%><br>
  </div>

<div class="browen">
       <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#8A5A38" stroke="black"/>
       </svg>
    <div class="browenmigi">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
         <circle cx="75" cy="75" r="74.5" fill="#440000" stroke="black"/>
      </svg>
    </div>

  <div class="shadowen">
     <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
       <circle cx="75" cy="75" r="74.5" fill="#B27100" stroke="black"/>
     </svg>

      <div class="shadowenmigi">
         <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#E59100" stroke="black"/>
         </svg>
      </div>
  </div>
</div>

    <div class="lineen">
       <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
         <circle cx="75" cy="75" r="74.5" fill="#440000" stroke="black"/>
       </svg>

      <div class="lineenmigi">
         <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
           <circle cx="75" cy="75" r="74.5" fill="#8A5A38" stroke="black"/>
         </svg>
      </div>
    </div>
<div class="akieyename">
    <div class="burueyename1">
      <h3>ミディアム<br>ブラウン<h3>
    </div>

    <div class="akieyename2">
      <h3>ディープ<br>ブラウン<h3>
    </div>
</div>

<div class="akieyenameman">
    <div class="akieyename3">
      <h3>ディープ<br>オレンジ<h3>
    </div>

    <div class="akieyename4">
      <h3>オレンジ<br>ベージュ<h3>
    </div>
</div>

<div class="akieyenamemmigi">
    <div class="akieyename5">
      <h3>ディープ<br>ブラウン<h3>
    </div>

    <div class="akieyename6">
      <h3>ミディアム<br>ブラウン<h3>
    </div>
</div>
<br>
<br>
<div class="div-equal-box">
           <div><h5>CHEEK<h5></div>
           <div><h5>NAIL<h5></div>
           <div><h5>LIP<h5></div>
</div>

        <div class="eye">
          <%=image_tag 'cheek.png',class:'cheek'%><br>
          <%=image_tag 'nail.png',class:'nail'%><br>
          <%=image_tag 'lip.png',class:'lip'%><br>
        </div>


        <div class="browen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="#BD6856" stroke="black"/>
        </svg>
        <div class="browenmigi">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFA594" stroke="black"/>
</svg>
        </div>
    
      <div class="shadowen">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#440000" stroke="black"/>
</svg>
    
          <div class="shadowenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#FFA594" stroke="black"/>
          </svg>
          </div>
      </div>
    </div>
    
        <div class="lineen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#BD6856" stroke="black"/>
</svg>
    
          <div class="lineenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#FFA594" stroke="black"/>
          </svg>
          
          </div>
        </div>

<div class="akicheekname">
    <div class="akicheekname1">
      <h3>テラコッタ<h3>
    </div>

    <div class="akicheekname2">
      <h3>サーモン<br>ピンク<h3>
    </div>
</div>

<div class="akinailname">
    <div class="akinailname3">
      <h3>ディープ<br>ブラウン<h3>
    </div>

    <div class="akinailname4">
      <h3>サーモン<br>ピンク<h3>
    </div>
</div>

<div class="akilipname">
    <div class="akilipname5">
      <h3>テラコッタ<h3>
    </div>

    <div class="akilipname6">
      <h3>サーモン<br>ピンク<h3>
    </div>
</div>
<%=image_tag 'greenline.png',class:'greenline'%>
          <div class="akihaircolor">
              <h2><br>ヘアカラー<h2>
          </div><br><br><br><br>

<div class="hairtop">
          <%=image_tag 'gorudo.png',class:'gorudo'%><br>
          <%=image_tag 'tyokobro.png',class:'tyokobro'%><br>
          <%=image_tag 'oribro.png',class:'oribro'%><br>
</div>

<div class="hairnametop">
    <div class="akihair1">
      <h3>ゴールド<h3>
    </div>

    <div class="akihair2">
      <h3>チョコレートブラウン<h3>
    </div>

    <div class="akihair3">
      <h3>オリーブブラウン<h3>
    </div>
</div>
<br>
<br>
<div class="hairtop">
          <%=image_tag 'tyeri.png',class:'tyeri'%><br>
          <%=image_tag 'kakiassyu.png',class:'kakiassyu'%><br>
          <%=image_tag 'orennjibro.png',class:'orennjibro'%><br>
</div>

<div class="hairnamesita">
    <div class="hair4">
      <h3>チェリーレッド<h3>
    </div>

    <div class="buruhair5">
      <h3>カーキアッシュ<h3>
    </div>

    <div class="akihair6">
      <h3>オレンジブラウン<h3>
    </div>
</div>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合うカラー<h2>
          </div><br><br><br><br><br>

    <div class="niauen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#3B8999" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8B4513" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8AC26B" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFD700" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#5C7142" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFA594" stroke="black"/>
</svg>

    </div>

<div class="niauname">
    <div class="buruniau1">
      <h3>サックスブルー<h3>
    </div>
    <div class="akiniau2">
      <h3>ブラウン<h3>
    </div>
    <div class="akiniau3">
      <h3>ライトグリーン<h3>
    </div>
    <div class="akiniau4">
      <h3>ゴールド<h3>
    </div>
    <div class="akiniau5">
      <h3>モスグリーン<h3>
    </div>
    <div class="akiniau6">
      <h3>サーモンピンク<h3>
    </div>
</div>

<br>
<br>
<div class="niauen">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B2D235" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B18B55" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#F4EADC" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DFBCCE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#55353B" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#E7D2B5" stroke="black"/>
</svg>
</div>

<div class="niauname">
    <div class="akiniau7">
      <h3>イエローグリーン<h3>
    </div>
    <div class="akiniau8">
      <h3>カーキ<h3>
    </div>
    <div class="akiniau9">
      <h3>ベージュ<h3>
    </div>
    <div class="akiniau10">
      <h3>ダスティーピンク<h3>
    </div>
    <div class="akiniau11">
      <h3>ボルドー<h3>
    </div>
    <div class="akiniau12">
      <h3>グレージュ<h3>
    </div>
</div>
<br>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合わないカラー<h2>
          </div><br><br><br><br><br>


<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DCDCDC" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#778899" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FF0000" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#008000" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#0000FF" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#D8BFD8" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="akinia1">
      <h3>ライトグレー<h3>
    </div>
    <div class="akinia2">
      <h3>ブルーグレー<h3>
    </div>
    <div class="akinia3">
      <h3>レッド<h3>
    </div>
    <div class="akinia4">
      <h3>グリーン<h3>
    </div>
    <div class="akinia5">
      <h3>ブルー<h3>
    </div>
    <div class="akinia6">
      <h3>ラベンダー<h3>
    </div>
</div>

<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#ADD8E6" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8585BA" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#666666" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#BA55D3" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#191970" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#333399" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="akinia7">
      <h3>ライトブルー<h3>
    </div>
    <div class="akinia8">
      <h3>ダスティーブルー<h3>
    </div>
    <div class="akinia9">
      <h3>グレー<h3>
    </div>
    <div class="akinia10">
      <h3>ライトパープル<h3>
    </div>
    <div class="akinia11">
      <h3>インディゴブルー<h3>
    </div>
    <div class="akinia12">
      <h3>ロイヤルブルー<h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="osusumekodehakotirakara">
   <%= link_to "おすすめコーデはこちら", colors_cloth_3_path %>
</div>
<br>
<br>
<div class="rinkmatome">
     <div class="kokkakusindannhakotirakara">
         <%= link_to "骨格診断はこちら", shapes_path %>
     </div>
     <br>
       <div class="mouitido">
          <%= link_to "もう一度診断する", colors_path %>
       </div>

      <div class="homepagehe">
          <%= link_to "ホームページに戻る", tops_top_path %>
      </div>
</div>