<%=image_tag 'huyutop.png',class:'huyutop'%>


<div class="huyushindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'burubehuyu.png',class:'burubehuyu'%>

<div class="huyutokutyo">
           <h4><span>特 徴</span><h4>
</div>

<%=image_tag 'huyuhukidasi.png',class:'huyuhukidasi'%>

<div class="huyutaipu">
           Winter type<br>
</div>

<div class="huyubesu">
           <h5>ブルーベース<h5>
</div><br><br><br><br>

  
<%=image_tag 'pinkline.png',class:'pinkline'%><br>


<div class="huyuoomoji">
           <h4>瞳<h4><br>
         </div>

         <div class="komoji">
           <h5>黒い瞳。<br>白目と黒目のコントラストがはっきりしていて、強さを感じる。<h5><br>
         </div>

     <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="huyuoomoji">
           <h4>髪<h4><br>
        </div>

        <div class="komoji">
        <h5>コシやツヤ感があり、ボリュームも多め。<br>髪色は漆黒～濃い赤みブラウン系。直毛。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="huyuoomoji">
           <h4>肌<h4><br>
        </div>

        <div class="komoji">
           <h5>青みのあるピンク系のベージュやオークル系の肌色。<br>ツヤがあり、血色感が少ない。日焼けをすると、赤黒くなる。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br><br><br><br>

        <div class="huyuborder">
           <div class="keikou">
	          <p><br><br><h2>似合う色の傾向<h2></p>
           </div>

           <div class="hoshi">
            <br><h3>★ベース<h3>
           </div>

          <div class="keikouen">
           <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
           <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
           </svg>
          </div>

           <div class="keikouenmoji">
            <h4>青み<h4>
           </div>

          <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

         <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>黄み<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★清濁<h3>
         </div>

           <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>清色<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>濁色<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★鮮やかさ<h3>
         </div>

         <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>高め<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>低め<h4>
         </div>

        </div>

  <%=image_tag 'muraline.png',class:'muraline'%>
          <div class="makecolor">
              <h2><br>メイクアップカラー<h2>
          </div><br><br><br><br>

          <div class="div-equal-box">
           <div><h5>EYE BROW<h5></div>
           <div><h5>EYE SHADOW<h5></div>
           <div><h5>EYE LINE<h5></div>
          </div>

  <div class="eye">
   <%=image_tag 'eyebrow.jpg',class:'eyebrow'%><br>
   <%=image_tag 'eyeshadow.png',class:'eyeshadow'%><br>
   <%=image_tag 'eyeline.png',class:'eyeline'%><br>
  </div>

<div class="browen">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="black" stroke="black"/>
</svg>
    <div class="browenmigi">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
    <circle cx="75" cy="75" r="74.5" fill="#584B61" stroke="black"/>
    </svg>
    </div>

  <div class="shadowen">
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
  <circle cx="75" cy="75" r="74.5" fill="#8E1147" stroke="black"/>
  </svg>

      <div class="shadowenmigi">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#740F92" stroke="black"/>
      </svg>
      </div>
  </div>
</div>

    <div class="lineen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
    <circle cx="75" cy="75" r="74.5" fill="black" stroke="black"/>
    </svg>

      <div class="lineenmigi">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#150165" stroke="black"/>
      </svg>
      </div>
    </div>
<div class="huyueyename">
    <div class="huyueyename1">
      <h3>ブラック<h3>
    </div>

    <div class="huyueyename2">
      <h3>アッシュ<br>ブラック<h3>
    </div>
</div>

<div class="huyueyenameman">
    <div class="huyueyename3">
      <h3>ワイン<br>レッド<h3>
    </div>

    <div class="huyueyename4">
      <h3>バイオ<br>レット<h3>
    </div>
</div>

<div class="huyueyenamemmigi">
    <div class="huyueyename5">
      <h3>ブラック<h3>
    </div>

    <div class="huyueyename6">
      <h3>ブルー<br>ブラック<h3>
    </div>
</div>
<br>
<br>
<div class="div-equal-box">
           <div><h5>CHEEK<h5></div>
           <div><h5>NAIL<h5></div>
           <div><h5>LIP<h5></div>
</div>

        <div class="eye">
          <%=image_tag 'cheek.png',class:'cheek'%><br>
          <%=image_tag 'nail.png',class:'nail'%><br>
          <%=image_tag 'lip.png',class:'lip'%><br>
        </div>


        <div class="browen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FF82B2" stroke="black"/>
</svg>
        <div class="browenmigi">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B96290" stroke="black"/>
</svg>
        </div>
    
      <div class="shadowen">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8E1147" stroke="black"/>
</svg>
    
          <div class="shadowenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#F6F6F6" stroke="black"/>
</svg>
          </div>
      </div>
    </div>
    
        <div class="lineen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8E1147" stroke="black"/>
</svg>
    
          <div class="lineenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FF82B2" stroke="black"/>
</svg>
          
          </div>
        </div>

<div class="huyucheekname">
    <div class="huyucheekname1">
      <h3>ローズ<br>ピンク<h3>
    </div>

    <div class="huyucheekname2">
      <h3>カシス<br>ピンク<h3>
    </div>
</div>

<div class="huyunailname">
    <div class="huyunailname3">
      <h3>ワイン<br>レッド<h3>
    </div>

    <div class="huyunailname4">
      <h3>ペール<br>グレー<h3>
    </div>
</div>

<div class="huyulipname">
    <div class="huyulipname5">
      <h3>ワイン<br>レッド<h3>
    </div>

    <div class="huyulipname6">
      <h3>ローズ<br>ピンク<h3>
    </div>
</div>
<%=image_tag 'piline.png',class:'piline'%>
          <div class="akihaircolor">
              <h2><br>ヘアカラー<h2>
          </div><br><br><br><br>

<div class="hairtop">
          <%=image_tag 'wainred.png',class:'wainred'%><br>
          <%=image_tag 'nei.png',class:'nei'%><br>
          <%=image_tag 'sil.png',class:'sil'%><br>
</div>

<div class="hairnametop">
    <div class="huyuhair1">
      <h3>ワインレッド<h3>
    </div>

    <div class="huyuhair2">
      <h3>ネイビーブルー<h3>
    </div>

    <div class="huyuhair3">
      <h3>シルバーアッシュ<h3>
    </div>
</div>
<br>
<br>
<div class="hairtop">
          <%=image_tag 'bl.png',class:'bl'%><br>
          <%=image_tag 'rab.png',class:'rab'%><br>
          <%=image_tag 'gle.png',class:'gle'%><br>
</div>

<div class="hairnamesita">
    <div class="huyuhair4">
      <h3>ブラック<h3>
    </div>

    <div class="huyuhair5">
      <h3>ラベンダー<h3>
    </div>

    <div class="huyuhair6">
      <h3>アッシュグレー<h3>
    </div>
</div>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合うカラー<h2>
          </div><br><br><br><br><br>

    <div class="niauen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#000080" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FF0000" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#005638" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#008000" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#333399" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#5D5562" stroke="black"/>
</svg>


    </div>

<div class="niauname">
    <div class="huyuniau1">
      <h3>ネイビー<h3>
    </div>
    <div class="huyuniau2">
      <h3>レッド<h3>
    </div>
    <div class="huyuniau3">
      <h3>ダークグリーン<h3>
    </div>
    <div class="huyuniau4">
      <h3>グリーン<h3>
    </div>
    <div class="huyuniau5">
      <h3>ロイヤルブルー<h3>
    </div>
    <div class="huyuniau6">
      <h3>チャコールグレー<h3>
    </div>
</div>

<br>
<br>
<div class="niauen">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="black" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#5F5C5C" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#0000FF" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="white" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#800080" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#A9A9A9" stroke="black"/>
</svg>
</div>

<div class="niauname">
    <div class="huyuniau7">
      <h3>ブラック<h3>
    </div>
    <div class="huyuniau8">
      <h3>ダークグレー<h3>
    </div>
    <div class="huyuniau9">
      <h3>ブルー<h3>
    </div>
    <div class="huyuniau10">
      <h3>ホワイト<h3>
    </div>
    <div class="huyuniau11">
      <h3>パープル<h3>
    </div>
    <div class="huyuniau12">
      <h3>シルバー<h3>
    </div>
</div>
<br>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合わないカラー<h2>
          </div><br><br><br><br><br>


<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8AC26B" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#3B8999" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B18B55" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DFBCCE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#99CC99" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8B4513" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="huyunia1">
      <h3>ライトグリーン<h3>
    </div>
    <div class="huyunia2">
      <h3>サックスブルー<h3>
    </div>
    <div class="huyunia3">
      <h3>カーキ<h3>
    </div>
    <div class="huyunia4">
      <h3>ダスティーピンク<h3>
    </div>
    <div class="huyunia5">
      <h3>ピスタチオグリーン<h3>
    </div>
    <div class="huyunia6">
      <h3>ブラウン<h3>
    </div>
</div>

<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#5C7142" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#F4EADC" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFD700" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#E7D2B5" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFE4E1" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#55353B" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="huyunia7">
      <h3>モスグリーン<h3>
    </div>
    <div class="huyunia8">
      <h3>ベージュ<h3>
    </div>
    <div class="huyunia9">
      <h3>ゴールド<h3>
    </div>
    <div class="huyunia10">
      <h3>グレージュ<h3>
    </div>
    <div class="huyunia11">
      <h3>ピンクゴールド<h3>
    </div>
    <div class="huyunia12">
      <h3>ボルドー<h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="osusumekodehakotirakara">
   <%= link_to "おすすめコーデはこちら", colors_cloth_4_path %>
</div>
<br>
<br>
<div class="rinkmatome">
     <div class="kokkakusindannhakotirakara">
         <%= link_to "骨格診断はこちら", shapes_path %>
     </div>
     <br>
       <div class="mouitido">
          <%= link_to "もう一度診断する", colors_path %>
       </div>

      <div class="homepagehe">
          <%= link_to "ホームページに戻る", tops_top_path %>
      </div>
</div>