<%=image_tag 'burunatutop.png',class:'burunatutop'%>


<div class="burushindankekka">
          <h3>診 断 結 果<h3>
</div>

<%=image_tag 'burunatu.png',class:'burunatu'%>

<div class="burutokutyo">
           <h4><span>特 徴</span><h4>
</div>

<%=image_tag 'aohukidasi.png',class:'aohukidasi'%>

<div class="burutaipu">
           Summer type<br>
</div>

<div class="burubesu">
           <h5>ブルーベース<h5>
</div><br><br><br>

  
<%=image_tag 'pinkline.png',class:'pinkline'%><br>


<div class="buruoomoji">
           <h4>瞳<h4><br>
         </div>

         <div class="komoji">
           <h5>ソフトな黒で、白目と黒目のコントラストも柔らか。<br>優し気な瞳。<h5><br>
         </div>

     <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="buruoomoji">
           <h4>髪<h4><br>
        </div>

        <div class="komoji">
        <h5>柔らかく繊細なソフトな黒髪。<br>髪は細くて薄く、サラサラしている。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="buruoomoji">
           <h4>肌<h4><br>
        </div>

        <div class="komoji">
           <h5>肌は薄く繊細で透明感がある。青白い肌にピンクみを帯びている。<br>日焼けすると赤くなり、黒くなりにくい。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br><br><br><br>

        <div class="buruborder">
           <div class="keikou">
	          <p><br><br><h2>似合う色の傾向<h2></p>
           </div>

           <div class="hoshi">
            <br><h3>★ベース<h3>
           </div>

          <div class="keikouen">
           <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
           <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
           </svg>
          </div>

           <div class="keikouenmoji">
            <h4>青み<h4>
           </div>

          <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

         <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>黄み<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★清濁<h3>
         </div>

           <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>濁色<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>清色<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★鮮やかさ<h3>
         </div>

         <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>低め<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>高め<h4>
         </div>

        </div>

  <%=image_tag 'buruline.png',class:'buruline'%>
          <div class="makecolor">
              <h2><br>メイクアップカラー<h2>
          </div><br><br><br><br>

          <div class="div-equal-box">
           <div><h5>EYE BROW<h5></div>
           <div><h5>EYE SHADOW<h5></div>
           <div><h5>EYE LINE<h5></div>
          </div>

  <div class="eye">
   <%=image_tag 'eyebrow.jpg',class:'eyebrow'%><br>
   <%=image_tag 'eyeshadow.png',class:'eyeshadow'%><br>
   <%=image_tag 'eyeline.png',class:'eyeline'%><br>
  </div>

<div class="browen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
           <circle cx="75" cy="75" r="74.5" fill="#666666" stroke="black"/>
        </svg>
    <div class="browenmigi">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="#5D2D3F" stroke="black"/>
      </svg>
    </div>

  <div class="shadowen">
     <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
       <circle cx="75" cy="75" r="74.5" fill="#FFABCE" stroke="black"/>
     </svg>

      <div class="shadowenmigi">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#FFE4E1" stroke="black"/>
        </svg>
      </div>
  </div>
</div>

    <div class="lineen">
     <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
       <circle cx="75" cy="75" r="74.5" fill="#5D2D3F" stroke="black"/>
     </svg>

      <div class="lineenmigi">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#666666" stroke="black"/>
        </svg>
      </div>
    </div>
<div class="burueyename">
    <div class="burueyename1">
      <h3>ミディアム<br>グレー<h3>
    </div>

    <div class="burueyename2">
      <h3>ローズ<br>ブラウン<h3>
    </div>
</div>

<div class="burueyenameman">
    <div class="burueyename3">
      <h3>ライト<br>ローズピンク<h3>
    </div>

    <div class="burueyename4">
      <h3>ピンク<br>ベージュ<h3>
    </div>
</div>

<div class="burueyenamemmigi">
    <div class="burueyename5">
      <h3>ローズ<br>ブラウン<h3>
    </div>

    <div class="burueyename6">
      <h3>ミディアム<br>グレー<h3>
    </div>
</div>
<br>
<br>
<div class="div-equal-box">
           <div><h5>CHEEK<h5></div>
           <div><h5>NAIL<h5></div>
           <div><h5>LIP<h5></div>
</div>

        <div class="eye">
          <%=image_tag 'cheek.png',class:'cheek'%><br>
          <%=image_tag 'nail.png',class:'nail'%><br>
          <%=image_tag 'lip.png',class:'lip'%><br>
        </div>


        <div class="browen">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
             <circle cx="75" cy="75" r="74.5" fill="#FFABCE" stroke="black"/>
          </svg>
        <div class="browenmigi">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="#FFE4E1" stroke="black"/>
        </svg>
        </div>
    
      <div class="shadowen">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#FF82B2" stroke="black"/>
      </svg>
    
          <div class="shadowenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#DCDCDC" stroke="black"/>
          </svg>
          </div>
      </div>
    </div>
    
        <div class="lineen">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="#FFABCE" stroke="black"/>
        </svg>
    
          <div class="lineenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#FFE4E1" stroke="black"/>
          </svg>
          </div>
        </div>

<div class="burucheekname">
    <div class="burucheekname1">
      <h3>ライト<br>ローズピンク<h3>
    </div>

    <div class="burucheekname2">
      <h3>ピンク<br>ベージュ<h3>
    </div>
</div>

<div class="burunailname">
    <div class="burunailname3">
      <h3>ローズ<br>ピンク<h3>
    </div>

    <div class="burunailname4">
      <h3>ライト<br>グレー<h3>
    </div>
</div>

<div class="burulipname">
    <div class="burulipname5">
      <h3>ライト<br>ローズピンク<h3>
    </div>

    <div class="burulipname6">
      <h3>ピンク<br>ベージュ<h3>
    </div>
</div>
<%=image_tag 'buline.png',class:'buline'%>
          <div class="buruhaircolor">
              <h2><br>ヘアカラー<h2>
          </div><br><br><br><br>

<div class="hairtop">
          <%=image_tag 'buruassyu.png',class:'buruassyu'%><br>
          <%=image_tag 'assyugurejyu.png',class:'assyugurejyu'%><br>
          <%=image_tag 'pinkgrejyu.png',class:'pinkgrejyu'%><br>
</div>

<div class="hairnametop">
    <div class="hair1">
      <h3>ブルーアッシュ<h3>
    </div>

    <div class="hair2">
      <h3>アッシュグレージュ<h3>
    </div>

    <div class="buruhair3">
      <h3>ピンクグレージュ<h3>
    </div>
</div>
<br>
<br>
<div class="hairtop">
          <%=image_tag 'rozubro.png',class:'rozubro'%><br>
          <%=image_tag 'neibiburu.png',class:'neibiburu'%><br>
          <%=image_tag 'sumokibejyu.png',class:'sumokibejyu'%><br>
</div>

<div class="hairnamesita">
    <div class="hair4">
      <h3>ローズブラウン<h3>
    </div>

    <div class="buruhair5">
      <h3>ネイビーブルー<h3>
    </div>

    <div class="buruhair6">
      <h3>スモーキーベージュ<h3>
    </div>
</div>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合うカラー<h2>
          </div><br><br><br><br><br>

    <div class="niauen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
    <circle cx="75" cy="75" r="74.5" fill="#BA55D3" stroke="black"/>
    </svg>       
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
    <circle cx="75" cy="75" r="74.5" fill="#A9A9A9" stroke="black"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
    <circle cx="75" cy="75" r="74.5" fill="#191970" stroke="black"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#666666" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#ADD8E6" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#F7F6F5" stroke="black"/>
</svg>

    </div>

<div class="niauname">
    <div class="buruniau1">
      <h3>ライトパープル<h3>
    </div>
    <div class="buruniau2">
      <h3>シルバー<h3>
    </div>
    <div class="buruniau3">
      <h3>インディゴブルー<h3>
    </div>
    <div class="buruniau4">
      <h3>グレー<h3>
    </div>
    <div class="buruniau5">
      <h3>ライトブルー<h3>
    </div>
    <div class="buruniau6">
      <h3>パール<h3>
    </div>
</div>

<br>
<br>
<div class="niauen">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8585BA" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#19EBAA" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#D8BFD8" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DFBCCE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFABCE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFF9EE" stroke="black"/>
</svg>
</div>

<div class="niauname">
    <div class="buruniau7">
      <h3>ダスティーブルー<h3>
    </div>
    <div class="buruniau8">
      <h3>ミント<h3>
    </div>
    <div class="buruniau9">
      <h3>ラベンダー<h3>
    </div>
    <div class="buruniau10">
      <h3>ダスティーピンク<h3>
    </div>
    <div class="buruniau11">
      <h3>ライトローズピンク<h3>
    </div>
    <div class="buruniau12">
      <h3>オフホワイト<h3>
    </div>
</div>
<br>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合わないカラー<h2>
          </div><br><br><br><br><br>


<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#55353B" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B2D235" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8B4513" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B18B55" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#3B8999" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#5C7142" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="burunia1">
      <h3>ボルドー<h3>
    </div>
    <div class="burunia2">
      <h3>イエローグリーン<h3>
    </div>
    <div class="burunia3">
      <h3>ブラウン<h3>
    </div>
    <div class="burunia4">
      <h3>カーキ<h3>
    </div>
    <div class="burunia5">
      <h3>サックスブルー<h3>
    </div>
    <div class="burunia6">
      <h3>モスグリーン<h3>
    </div>
</div>

<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFFF00" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8AC26B" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#00CED1" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#B7EB3F" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFD700" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFA500" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="burunia7">
      <h3>イエロー<h3>
    </div>
    <div class="burunia8">
      <h3>ライトグリーン<h3>
    </div>
    <div class="burunia9">
      <h3>ターコイズ<h3>
    </div>
    <div class="burunia10">
      <h3>ライムグリーン<h3>
    </div>
    <div class="burunia11">
      <h3>ゴールド<h3>
    </div>
    <div class="burunia12">
      <h3>オレンジ<h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="osusumekodehakotirakara">
   <%= link_to "おすすめコーデはこちら", colors_cloth_2_path %>
</div>
<br>
<br>
<div class="rinkmatome">
     <div class="kokkakusindannhakotirakara">
         <%= link_to "骨格診断はこちら", shapes_path %>
     </div>
     <br>
       <div class="mouitido">
          <%= link_to "もう一度診断する", colors_path %>
       </div>

      <div class="homepagehe">
          <%= link_to "ホームページに戻る", tops_top_path %>
      </div>
</div>