<%=image_tag 'yellowtop.png',class:'yellowtop'%>
<div class="iebeharu">
       <div class="shindankekka">
          <h3>診 断 結 果<h3>
       </div>

       <%=image_tag 'spring.png',class:'spring'%>

       <div class="tokutyo">
           <h4><span>特 徴</span><h4>
       </div>

       <%=image_tag 'yellowhukidashi.png',class:'yellowhukidashi'%>

       <div class="harutaipu">
           Spring type<br>
        </div>

        <div class="besu">
           <h5>イエローベース<h5>
        </div><br><br><br>
  
       <%=image_tag 'pinkline.png',class:'pinkline'%><br>

      

         <div class="oomoji">
           <h4>瞳<h4><br>
         </div>

         <div class="komoji">
           <h5>色が薄く、明るめの茶。<br>白目と黒目のコントラストがはっきりしている。<h5><br>
         </div>

     <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="oomoji">
           <h4>髪<h4><br>
        </div>

        <div class="komoji">
        <h5>色が薄く、カラーが抜けやすい。<br>地毛の色はライトブラウン系で、細くやわらかな毛質である。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br>

        <div class="oomoji">
           <h4>肌<h4><br>
        </div>

        <div class="komoji">
           <h5>赤身・黄み双方が感じられる明るい肌色。皮膚が薄くて透明感がある。<br>日焼けをすると深い褐色になるが、地肌の色に戻るのが早い。<h5><br>
        </div>

    <%=image_tag 'pinkline.png',class:'pinkline'%><br><br><br><br>

        <div class="border">
           <div class="keikou">
	          <p><br><br><h2>似合う色の傾向<h2></p>
           </div>

           <div class="hoshi">
            <br><h3>★ベース<h3>
           </div>

          <div class="keikouen">
           <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
           <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
           </svg>
          </div>

           <div class="keikouenmoji">
            <h4>黄み<h4>
           </div>

          <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

         <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>青み<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★清濁<h3>
         </div>

           <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>清色<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>濁色<h4>
         </div>

         <div class="hoshi">
            <br><br><br><br><h3>★鮮やかさ<h3>
         </div>

         <div class="keikouen">
             <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
              <circle cx="95" cy="95" r="94.5" fill="#C6C6C6" stroke="black"/>
             </svg>
           </div>

           <div class="keikouenmoji">
            <h4>高め<h4>
           </div>

           <div class="hutougou">
           <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 58 70" fill="none">
             <line x1="4.65362" y1="2.97645" x2="55.6536" y2="39.9764" stroke="black" stroke-width="5"/>
             <path d="M2 67.7988L54 39.7988" stroke="black" stroke-width="5"/>
           </svg>
          </div>

          <div class="keikouenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 190 190" fill="none">
            <circle cx="95" cy="95" r="94.5" fill="#E8E8E8" stroke="black"/>
          </svg>
         </div>

         <div class="keikouenmojimigi">
          <h4>低め<h4>
         </div>

        </div>

  <%=image_tag 'oranjiline.png',class:'oranjiline'%>
          <div class="makecolor">
              <h2><br>メイクアップカラー<h2>
          </div><br><br><br><br>

          <div class="div-equal-box">
           <div><h5>EYE BROW<h5></div>
           <div><h5>EYE SHADOW<h5></div>
           <div><h5>EYE LINE<h5></div>
          </div>

  <div class="eye">
   <%=image_tag 'eyebrow.jpg',class:'eyebrow'%><br>
   <%=image_tag 'eyeshadow.png',class:'eyeshadow'%><br>
   <%=image_tag 'eyeline.png',class:'eyeline'%><br>
  </div>

<div class="browen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#CD853F" stroke="black" />
    </svg>
    <div class="browenmigi">
     <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#DAA520" stroke="black"/>
     </svg>
    </div>

  <div class="shadowen">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
      <circle cx="75" cy="75" r="74.5" fill="#B2D235" stroke="black"/>
    </svg>

      <div class="shadowenmigi">
         <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#FFC0CB" stroke="black"/>
         </svg>
      </div>
  </div>
</div>

    <div class="lineen">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="#CD853F" stroke="black"/>
      </svg>

      <div class="lineenmigi">
       <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
          <circle cx="75" cy="75" r="74.5" fill="#8A5A38" stroke="black"/>
       </svg>
      </div>
    </div>
<div class="eyename">
    <div class="eyename1">
      <h3>ライト<br>ブラウン<h3>
    </div>

    <div class="eyename2">
      <h3>イエロー<br>ベージュ<h3>
    </div>
</div>

<div class="eyenameman">
    <div class="eyename3">
      <h3>イエロー<br>グリーン<h3>
    </div>

    <div class="eyename4">
      <h3>ピーチ<br>ピンク<h3>
    </div>
</div>

<div class="eyenamemmigi">
    <div class="eyename5">
      <h3>ライト<br>ブラウン<h3>
    </div>

    <div class="eyename6">
      <h3>ミディアム<br>ブラウン<h3>
    </div>
</div>
<br>
<br>
<div class="div-equal-box">
           <div><h5>CHEEK<h5></div>
           <div><h5>NAIL<h5></div>
           <div><h5>LIP<h5></div>
</div>

        <div class="eye">
          <%=image_tag 'cheek.png',class:'cheek'%><br>
          <%=image_tag 'nail.png',class:'nail'%><br>
          <%=image_tag 'lip.png',class:'lip'%><br>
        </div>


        <div class="browen">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
            <circle cx="75" cy="75" r="74.5" fill="#F7A877" stroke="black"/>
          </svg>
        <div class="browenmigi">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
            <circle cx="75" cy="75" r="74.5" fill="#F8878E" stroke="black"/>
          </svg>
        </div>
    
      <div class="shadowen">
           <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
              <circle cx="75" cy="75" r="74.5" fill="#F69C5E" stroke="black"/>
           </svg>
    
          <div class="shadowenmigi">
             <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
               <circle cx="75" cy="75" r="74.5" fill="#F8878E" stroke="black"/>
             </svg>
          </div>
      </div>
    </div>
    
        <div class="lineen">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
            <circle cx="75" cy="75" r="74.5" fill="#F69C5E" stroke="black"/>
          </svg>
    
          <div class="lineenmigi">
             <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
               <circle cx="75" cy="75" r="74.5" fill="#F8878E" stroke="black"/>
             </svg>
          </div>
        </div>

<div class="cheekname">
    <div class="cheekname1">
      <h3>アプリ<br>コット<h3>
    </div>

    <div class="cheekname2">
      <h3>コーラル<br>ピンク<h3>
    </div>
</div>

<div class="nailname">
    <div class="nailname3">
      <h3>ライト<br>オレンジ<h3>
    </div>

    <div class="nailname4">
      <h3>コーラル<br>ピンク<h3>
    </div>
</div>

<div class="lipname">
    <div class="lipname5">
      <h3>ライト<br>オレンジ<h3>
    </div>

    <div class="lipname6">
      <h3>コーラル<br>ピンク<h3>
    </div>
</div>
<%=image_tag 'redline.png',class:'redline'%>
          <div class="haircolor">
              <h2><br>ヘアカラー<h2>
          </div><br><br><br><br>

<div class="hairtop">
          <%=image_tag 'lightbr.png',class:'lightbr'%><br>
          <%=image_tag 'mdebr.png',class:'mdebr'%><br>
          <%=image_tag 'pinkbe.png',class:'pinkbe'%><br>
</div>

<div class="hairnametop">
    <div class="hair1">
      <h3>ライトブラウン<h3>
    </div>

    <div class="hair2">
      <h3>ミディアムブラウン<h3>
    </div>

    <div class="hair3">
      <h3>ピンクベージュ<h3>
    </div>
</div>
<br>
<br>
<div class="hairtop">
          <%=image_tag 'pinkbr.png',class:'pinkbr'%><br>
          <%=image_tag 'milk.png',class:'milk'%><br>
          <%=image_tag 'orabro.png',class:'orabro'%><br>
</div>

<div class="hairnamesita">
    <div class="hair4">
      <h3>ピンクブラウン<h3>
    </div>

    <div class="hair5">
      <h3>ミルクティーベージュ<h3>
    </div>

    <div class="hair6">
      <h3>オレンジブラウン<h3>
    </div>
</div>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合うカラー<h2>
          </div><br><br><br><br><br>

    <div class="niauen">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
            <circle cx="75" cy="75" r="74.5" fill="#F8878E" stroke="black"/>
          </svg>        
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
            <circle cx="75" cy="75" r="74.5" fill="#00CED1" stroke="black"/>
          </svg>    
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
             <circle cx="75" cy="75" r="74.5" fill="#B2D235" stroke="black"/>
           </svg>   
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
             <circle cx="75" cy="75" r="74.5" fill="#FFFF00" stroke="black"/>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
           <circle cx="75" cy="75" r="74.5" fill="#F69C5E" stroke="black"/>
          </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
             <circle cx="75" cy="75" r="74.5" fill="#FFA594" stroke="black"/>
            </svg>
    </div>

<div class="niauname">
    <div class="niau1">
      <h3>コーラルピンク<h3>
    </div>
    <div class="niau2">
      <h3>ターコイズ<h3>
    </div>
    <div class="niau3">
      <h3>イエローグリーン<h3>
    </div>
    <div class="niau4">
      <h3>イエロー<h3>
    </div>
    <div class="niau5">
      <h3>ライトオレンジ<h3>
    </div>
    <div class="niau6">
      <h3>サーモンピンク<h3>
    </div>
</div>

<br>
<br>
<div class="niauen">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#D2B48C" stroke="black"/>
</svg>      
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#BB8D5F" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFC0CB" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#87CEEB" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFFFBB" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#FFFFF0" stroke="black"/>
</svg>
</div>

<div class="niauname">
    <div class="niau7">
      <h3>ライトベージュ<h3>
    </div>
    <div class="niau8">
      <h3>キャメル<h3>
    </div>
    <div class="niau9">
      <h3>ピンク<h3>
    </div>
    <div class="niau10">
      <h3>パステルブルー<h3>
    </div>
    <div class="niau11">
      <h3>パステルイエロー<h3>
    </div>
    <div class="niau12">
      <h3>アイボリー<h3>
    </div>
</div>
<br>
<%=image_tag 'niji.png',class:'niji'%>
          <div class="niau">
              <h2>似合わないカラー<h2>
          </div><br><br><br><br><br>


<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DCDCDC" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#778899" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#F7F6F5" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#DFBCCE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#EEEEEE" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#D8BFD8" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="nia1">
      <h3>ライトグレー<h3>
    </div>
    <div class="nia2">
      <h3>ブルーグレー<h3>
    </div>
    <div class="nia3">
      <h3>パール<h3>
    </div>
    <div class="nia4">
      <h3>ダスティーピンク<h3>
    </div>
    <div class="nia5">
      <h3>アイスグレー<h3>
    </div>
    <div class="nia6">
      <h3>ラベンダー<h3>
    </div>
</div>

<div class="niawanaien">
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#ADD8E6" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#8585BA" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#666666" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#BA55D3" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#191970" stroke="black"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 150 150" fill="none">
<circle cx="75" cy="75" r="74.5" fill="#A9A9A9" stroke="black"/>
</svg>
</div>

<div class="niawanainame">
    <div class="nia7">
      <h3>ライトブルー<h3>
    </div>
    <div class="nia8">
      <h3>ダスティーブルー<h3>
    </div>
    <div class="nia9">
      <h3>グレー<h3>
    </div>
    <div class="nia10">
      <h3>ライトパープル<h3>
    </div>
    <div class="nia11">
      <h3>インディゴブルー<h3>
    </div>
    <div class="nia12">
      <h3>シルバー<h3>
    </div>
</div>

<br>
<br>
<br>
<br>
<div class="osusumekodehakotirakara">
   <%= link_to "おすすめコーデはこちら", colors_cloth_1_path %>
</div>
<br>
<br>
<div class="rinkmatome">
     <div class="kokkakusindannhakotirakara">
         <%= link_to "骨格診断はこちら", shapes_path %>
     </div>
     <br>
       <div class="mouitido">
          <%= link_to "もう一度診断する", colors_path %>
       </div>

      <div class="homepagehe">
          <%= link_to "ホームページに戻る", tops_top_path %>
      </div>
</div>